<?xml version='1.0' encoding='utf-8'?>
    <widget id="com.facturaloperu.appfacturalo.premium" android-packageName="com.facturaloperu.appfacturalo.premium" version="3.1.0" android-versionCode="2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="android-minSdkVersion" value="29"/>
    <preference name="android-targetSdkVersion" value="34"/>
    <preference name="android-compileSdkVersion" value="34"/>
    <preference name="DisallowOverscroll" value="true"/>
    <hook src="hooks/hookers.js" type="before_prepare"/>
    <hook src="hooks/beforedep.js" type="before_deploy"/>
    <name>FacturaloPeru</name>
    <description>
        Aplicacion de facturacion electronica
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Facturalo Peru Team
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <platform name="android">
        <allow-intent href="market:*"/>
        <icon src="res/icon/icon.png"/>
        <preference name="android-targetSdkVersion" value="34"/>
        <preference name="android-minSdkVersion" value="29"/>
        <access launch-external="yes" origin="whatsapp//*"/>
    </platform>
    <platform name="ios">
        <splash src="res/screen/ios/Default@2x~universal~anyany.png"/>
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    </platform>
    <platform name="ios">
        <icon src="res/icon/ios/29.png" platform="ios" width="29" height="29"/>
        <!-- <icon src="res/icon/ios/32.png" platform="ios" width="32" height="32"/> -->
        <icon src="res/icon/ios/40.png" platform="ios" width="40" height="40"/>
        <!-- <icon src="res/icon/ios/50.png" platform="ios" width="50" height="50"/> -->
        <icon src="res/icon/ios/57.png" platform="ios" width="57" height="57"/>
        <icon src="res/icon/ios/58.png" platform="ios" width="58" height="58"/>
        <icon src="res/icon/ios/60.png" platform="ios" width="60" height="60"/>
        <!-- <icon src="res/icon/ios/72.png" platform="ios" width="72" height="72"/> -->
        <!-- <icon src="res/icon/ios/76.png" platform="ios" width="76" height="76"/> -->
        <icon src="res/icon/ios/80.png" platform="ios" width="80" height="80"/>
        <icon src="res/icon/ios/87.png" platform="ios" width="87" height="87"/>
        <!-- <icon src="res/icon/ios/100.png" platform="ios" width="100" height="100"/> -->
        <icon src="res/icon/ios/114.png" platform="ios" width="114" height="114"/>
        <icon src="res/icon/ios/120.png" platform="ios" width="120" height="120"/>
        <!-- <icon src="res/icon/ios/144.png" platform="ios" width="144" height="144"/> -->
        <!-- <icon src="res/icon/ios/152.png" platform="ios" width="152" height="152"/> -->
        <icon src="res/icon/ios/180.png" platform="ios" width="180" height="180"/>
        <icon src="res/icon/ios/1024.png" platform="ios" width="1024" height="1024"/>
    </platform>
    <config-file target="AndroidManifest.xml" parent="/*" xmlns:android="http://schemas.android.com/apk/res/android">
        <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    </config-file>
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android">
        <application android:usesCleartextTraffic="true" android:requestLegacyExternalStorage="true"/>
    </edit-config>
    <allow-navigation href="*"/>
</widget>
