$blue-magenta: #b38d2c; // primary
$magenta: #E61EAD;
$light-gray: #4a168d;
$white-shade: #f2f4fa61;
$light-green: #1FC870;
$blue: #27b456;
$dark-blue: #331B83;
$purple: #6C18A4;
$red: #cb2027;
$dark: #1A1F1D;